<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('config')
    ->exclude('checkout')
    ->exclude('public')
    ->exclude('vendor')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true)
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'array_syntax' => ['syntax' => 'short'],
        'blank_line_before_statement' => true,
        'class_attributes_separation' => ['elements' => ['method']],
        'compact_nullable_typehint' => true,
        'date_time_immutable' => true,
        'declare_strict_types' => true,
        'final_class' => true,
        'global_namespace_import' => false,
        'implode_call' => true,
        'linebreak_after_opening_tag' => true,
        'list_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'ordered_class_elements' => [
            'order' => [
                'use_trait',
                'constant_public',
                'constant_protected',
                'constant_private',
                'property_public',
                'property_protected',
                'property_private',
                'construct',
                'destruct',
                'magic',
                'phpunit',
                'method_public',
                'method_protected',
                'method_private'
            ],
            'sortAlgorithm' => 'alpha'
        ],
        'ordered_imports' => true,
        'ordered_interfaces' => true,
        '@PSR2' => true,
        'strict_param' => true,
        'yoda_style' => true,
    ])
    ->setFinder($finder)
;
